@use rust_i18n::t;
@use crate::home::NavTop;

@(nav_top_data: &NavTop)

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <strong>("{}", t!(nav_top_data.catalog, "Home"));</strong>
        </a>
        <a class="navbar-item" href="https://aardwolf.social">
            <img src="/web/images/aardwolf-logo.png" height="100" alt="Aardwolf Logo">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/settings">
                ("{}", t!("nav_top_data.catalog, "Settings"));
            </a>
            <a class="navbar-item" href="/notifications">
                ("{}", t!("nav_top_data.catalog, "Notifications"));
            </a>
            <a class="navbar-item" href="/logout">
                ("{}", t!("nav_top_data.catalog, "Logout"));
            </a>
        </div>
    </div>
</nav>

